/* Global Overrides for Full Screen App */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  /* We handle scrolling inside the components */
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #343541;
}

/* Custom Scrollbar for a premium look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #565869;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #acacbe;
}